@font-face {
    font-family: iconfont;
    src: url(../fonts/iconfont.1a2831495b80b6ad2d60.eot);
    src: url(../fonts/iconfont.1a2831495b80b6ad2d60.eot#iefix) format("embedded-opentype"), url(../fonts/iconfont.1a2831495b80b6ad2d60.woff) format("woff"), url(../fonts/iconfont.1a2831495b80b6ad2d60.ttf) format("truetype"), url(../fonts/iconfont.1a2831495b80b6ad2d60.svg) format("svg")
}

@font-face {
    font-family: iconfont2;
    src: url(//cdnfile.aixifan.com/static/common/static/font/iconfont_new.8f284f873f54a4d0b6a7.eot);
    src: url(//cdnfile.aixifan.com/static/common/static/font/iconfont_new.8f284f873f54a4d0b6a7.eot#iefix) format("embedded-opentype"), url(//cdnfile.aixifan.com/static/common/static/font/iconfont_new.ad1832277e321884b923.woff) format("woff"), url(//cdnfile.aixifan.com/static/common/static/font/iconfont_new.f20fcbb8d7b3ee003060.ttf) format("truetype"), url(//cdnfile.aixifan.com/static/common/static/font/iconfont_new.e076376da05b25ce0346.svg) format("svg")
}

@font-face {
    font-family: iconfont_ks;
    src: url(//cdnfile.aixifan.com/static/common/static/font/iconfont_ks.72581237b214f1b308bf.eot);
    src: url(//cdnfile.aixifan.com/static/common/static/font/iconfont_ks.72581237b214f1b308bf.eot?#iefix) format("embedded-opentype"), url(//cdnfile.aixifan.com/static/common/static/font/iconfont_ks.b2770b740c0f5fd4e2e2.woff) format("woff"), url(//cdnfile.aixifan.com/static/common/static/font/iconfont_ks.4aa335c242b448808fc6.ttf) format("truetype"), url(//cdnfile.aixifan.com/static/common/static/font/iconfont_ks.f2b63ab923bd3031d871.svg#iconfont) format("svg")
}

.icon {
    font-family: iconfont;
    -webkit-font-smoothing: antialiased
}

.icon, .icon-ks {
    font-size: 16px;
    font-style: normal;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale
}

.icon-ks, .icon-view {
    font-family: iconfont_ks
}

.icon-view {
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-view:before {
    content: "\e186"
}

.icon2 {
    font-family: iconfont2;
    font-size: 12px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale
}

.icon-up:before {
    content: "UP";
    background: #ecf0f1;
    color: #92989b;
    border-radius: 50%;
    line-height: 22px;
    text-align: center;
    overflow: hidden;
    font-size: 12px;
    margin-right: 8px
}

.icon-banana:before, .icon-up:before {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle
}

.icon-banana:before {
    content: "";
    background: url(../image/icon/icon_banana.55f04d8b3dc06bce4899.png) no-repeat 0;
    background-size: 14px 14px
}

.icon-success:before {
    content: "\e619"
}

.icon-error:before {
    content: "\e61a"
}

.icon-warning:before {
    content: "\e61b"
}

.icon-logout:before {
    content: "\e60d"
}

.icon-help:before {
    content: "\e622"
}

.icon-arrow-round-right:before {
    content: "\e613"
}

.icon-comments:before {
    margin-right: 4px;
    content: "\e600"
}

.icon-envelope:before {
    content: "\e62e"
}

.icon-info:before {
    content: "\e61c"
}

.icon-yonghu:before {
    content: "\e60c"
}

.icon-app-phone:before {
    content: "\e604"
}

.icon-close:before {
    content: "\e616"
}

.icon-arrow-slim-up:before {
    content: "\e60e"
}

.icon-rank:before {
    content: "\e601"
}

.icon-arrow-slim-right:before {
    content: "\e611"
}

.icon-loading:before {
    content: "\e61f"
}

.icon-triangle-right:before {
    content: "\e602"
}

.icon-eye:before {
    content: "\e609"
}

.icon-eye-new:before {
    content: "\e806"
}

.icon-crown:before {
    content: "\e606"
}

.icon-arrow-round-left:before {
    content: "\e615"
}

.icon-plus-circle:before {
    content: "\e62f"
}

.icon-history:before {
    content: "\e608"
}

.icon-upload:before {
    content: "\e617"
}

.icon-collect:before {
    content: "\e618"
}

.icon-calendar:before {
    content: "\e60f"
}

.icon-danmu:before {
    content: "\e60a"
}

.icon-danmu-new:before {
    content: "\e808"
}

.icon-view-player:before {
    content: "\e610"
}

.icon-view-player-new:before {
    content: "\e805"
}

.icon-arrow-round-up:before {
    content: "\e61d"
}

.icon-arrow-round-down:before {
    content: "\e61e"
}

.icon-triangle-slim-right:before {
    content: "\e605"
}

.icon-chevron-left:before {
    content: "\e620"
}

.icon-th-list2:before {
    content: "\e621"
}

.icon-circle-triangle-w:before {
    content: "\e625"
}

.icon-circle-triangle-e:before {
    content: "\e626"
}

.icon-label:before {
    content: "\e607"
}

.icon-th-large1:before {
    content: "\e628"
}

.icon-th3:before {
    content: "\e612"
}

.icon-th-large:before {
    content: "\e60b"
}

.icon-th-list:before {
    content: "\e624"
}

.icon-th:before {
    content: "\e627"
}

.icon-step-forward:before {
    content: "\e629"
}

.icon-step-backward:before {
    content: "\e62a"
}

.icon-prompt:before {
    content: "\e614"
}

.icon-helps:before {
    content: "\e623"
}

.icon-delete:before {
    content: "\e62b"
}

.icon-to-comm:before {
    content: "\e62c"
}

.icon-to-comm-new:before {
    content: "\e807"
}

.icon-delete1:before {
    content: "\e62d"
}

.icon-chevron-right:before {
    content: "\e630"
}

.icon-you-xia-jiao-_-ping-lun-shu:before {
    content: "\e161"
}

.icon-shi-pin-suo-lve-tu-_-bo-fang-shu:before {
    content: "\e164"
}

.icon-shi-pin-suo-lve-tu-_-ping-lun-shu:before {
    content: "\e165"
}

.icon-zhan-kai-guan-bi:before {
    content: "\e166"
}

.icon-geng-duo:before {
    content: "\e167"
}

.icon-bo-fang-qi-_-bo-fang:before {
    content: "\e168"
}

.icon-bo-fang-qi-_-dan-mu-she-zhi:before {
    content: "\e169"
}

.icon-bo-fang-qi-_-yan-wen-zi:before {
    content: "\e16a"
}

.icon-bo-fang-qi-_-zan-ting:before {
    content: "\e16c"
}

.icon-bo-fang-qi-_-xia-yi-ge:before {
    content: "\e16d"
}

.icon-bo-fang-qi-_-she-zhi:before {
    content: "\e16e"
}

.icon-bo-fang-qi-_-da-kai-zhuo-mian-quan-ping:before {
    content: "\e16f"
}

.icon-bo-fang-qi-_-da-kai-wang-ye-quan-ping:before {
    content: "\e170"
}

.icon-bo-fang-qi-_-xun-huan-bo-fang-guan:before {
    content: "\e171"
}

.icon-bo-fang-qi-_-xun-huan-bo-fang:before {
    content: "\e172"
}

.icon-bo-fang-qi-_-tui-chu-zhuo-mian-quan-ping:before {
    content: "\e173"
}

.icon-bo-fang-qi-_-jing-yin:before {
    content: "\e175"
}

.icon-bo-fang-qi-_-yin-liang-xiao:before {
    content: "\e176"
}

.icon-yin-liang-da:before {
    content: "\e177"
}

.icon-bo-fang-qi-_-dan-mu-kai-qi:before {
    content: "\e17b"
}

.icon-bo-fang-qi-_-she-zhi-_-tui-chu:before {
    content: "\e17c"
}

.icon-tou-gao-_-shan-chu:before {
    content: "\e181"
}

.icon-tui-chu:before {
    content: "\e182"
}

.icon-li-shi-ji-lu-_ipad:before {
    content: "\e183"
}

.icon-li-shi-ji-lu-_computer:before {
    content: "\e184"
}

.icon-li-shi-ji-lu-_iphone:before {
    content: "\e185"
}

.icon-zai-xian-ren-shu:before {
    content: "\e186"
}

.icon-tui-chu-deng-lu:before {
    content: "\e19c"
}

.icon-icon_card_-yue-du-shu:before {
    content: "\e1a8"
}

.icon-button_fast_zhuifan:before {
    content: "\e1a9"
}

.icon-button_fast_zhuifan_p:before {
    content: "\e1aa"
}

.icon-icon_card_zhuifan:before {
    content: "\e1ab"
}

.icon-icon_-jin-zhi-zhuan-zai:before {
    content: "\e1ac";
    color: #fd4c5d;
    margin-right: 3px
}

.icon-icon_-zheng-tiao-zhan-shi:before {
    content: "\e1de"
}

.icon-icon--qia-pian-zhan-shi:before {
    content: "\e1df"
}